* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

:root {
  --color-primary: #f5e3e3;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f5e3e3;
  color: #000000;
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  justify-content: space-evenly;
}

.logo {
  width: 40%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.container .principal img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.divp {
  display: flex;
  position: relative;
}

nav {
  background: linear-gradient(to right, #f5e3e3, #f2a88d);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #333;
  cursor: pointer;
  width: 100%;
}

.item {
  position: relative;
  padding: 15px;
  text-decoration: none;
  color: #333;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s;
}

.dropdown a:hover {
  background-color: #f2a88d;
}

.item:hover .dropdown {
  display: block;
}

.principal {
  height: 600px;
  position: relative;
  margin-top: 165px;
}

p {
  width: 500px;
  color: #333;
  font-size: 25px;
  margin-top: -50px;
  font-family: "Zilla Slab", serif;
}

.separator {
  width: 80%;
  border-top: 1px solid #ccc;
  margin: 40px 0;
}

.divp {
  width: 80%;
  margin-top: 50px;
}

.principal1 {
  width: 10px;
  position: absolute;
  top: 600px;
}

h1 {
  font-family: "Zilla Slab", serif;
  padding: 20px;
  background: linear-gradient(to right, #f5e3e3, #f2a88d);
  border-radius: 30px;
}

.h1 {
  margin-top: 300px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery img {
  margin-top: 40px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.1);
}

.separator1 {
  margin-top: 100px;
  width: 50%;
  height: 2px;
  background-color: #333;
  animation: scaleAnimation 1s infinite alternate;
}

@keyframes scaleAnimation {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(1.5);
  }
}

video {
  position: relative;
  top: 30px;
  height: 700px;
}

main {
  padding: 20px;
  text-align: center;
}

.video-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

video {
  width: 300px;
  height: auto;
  margin: 10px;
  transition: transform 0.3s ease-out;
}

video:hover {
  transform: scale(1.1);
}

footer {
  background: linear-gradient(to right, #f5e3e3, #f2a88d);
  border-radius: 30px;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.social-icons a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  position: relative;
}

.social-icons img {
  width: 44px;
  height: 40px;
  border-radius: none;
  transition: transform 0.3s ease-out, box-shadow 0.5s ease-out;
}

.social-icons a:hover img {
  transform: scale(1.2);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 450px) {
  nav {
    display: grid;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background: linear-gradient(to right, #f2a88d, #f5e3e3);
  }

  .logo {
    display: flex;
    position: relative;
    justify-content: flex-start;
    width: 100%;
    max-width: 18rem;
  }

  p {
    display: block;
    position: absolute;
    text-align: start;
    left: 1.5rem;
    max-width: 70%;
    font-size: 0.9rem;
    font-weight: bold;
  }

  .principal1 {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    top: 10rem;
    width: 100%;
  }

  .principal {
    max-width: 100%;
    height: auto;
    top: 10rem;
  }

  .h1 {
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 0.8rem;
    text-align: center;
  }

  .dropdown {
    position: static;
    display: none;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }

  .dropdown div {
    display: block;
    width: 100%;
  }

  .gallery {
    display: grid;
    position: relative;
    width: 100%;
    width: 1rem;
  }

  .video-gallery {
    display: flex;
    position: relative;
    width: 100%;
  }

  .separator1 {
    margin-top: 100px;
    width: 30%;
    height: 2px;
    background-color: #333;
    animation: scaleAnimation 1s infinite alternate;
  }

  .footer-container {
    width: 100vw;
  }
}
